@mainColor: #203770;
@secondColor: #e97335;
.bot-nav-bg {
  .bot-nav-container {
    width: 100vw;
    min-width: 900px;
    border-top: 7px solid @secondColor;
    background-color: #fff;
    box-shadow: 0 2px 5px #b3c8fd;
    position: absolute;
    top: unset;
    left: -1px;
    right: -1px;
    height: 70px;
    z-index: 999;
    text-align: left;
    // min-width: 900px;
    display: none;
    padding: 0 5vw;
    .bot-nav-item {
      display: inline-block;
      height: 63px;
      line-height: 53px;
      padding: 0 40px;
      color: @mainColor;
      user-select: none;
      a {
        color: @mainColor;
      }
      &:hover {
        a {
          color: @secondColor;
        }
        color: @secondColor;
        background-color: rgb(230, 230, 230);
      }
    }
  }
}
